.carousel {
    border: 5px dotted red;
    box-sizing: border-box;
    display: flex;
    gap: 1em;
    margin: 3em auto;
    overflow-x: scroll;
    scroll-behavior: smooth;        /* Para que el scroll sea suave */

    &::-webkit-scrollbar {
        display: none;
    }

    &::scroll-button( right ) {
        content: '>';     
    }

    &::scroll-button( left ) {
        content: '<';
    }

    &::scroll-button( right ),
    &::scroll-button( left ) {
        cursor: pointer;
        background-color: orange;
        font-size: 1.4em;
        color: white;
        border-radius: 50%;
        width: 2rem;        
        height: 2rem;       
        padding: .8em;     
        display: inline-flex; 
        justify-content: center; 
        align-items: center;  
    }

    &::scroll-button( right ):disabled,
    &::scroll-button( left ):disabled {
        opacity: .5;
        cursor: auto;
    }

    /* .carousel .card */
    .card {
        align-content: center;
        background: orange;
        border-radius: .5rem;
        border: 1px dotted blue;
        box-sizing: border-box;
        flex: 0 0 20em;
        height: 12em;
        padding: 1em;
        text-align: center;
    }
}

