.carousel {
    border: 5px dotted red;
    box-sizing: border-box;
    display: flex;
    gap: 1em;
    margin: 3em auto;
    overflow-x: scroll;
    position: relative;       /* Para que el scroll sea suave */
    scroll-behavior: smooth;
    anchor-name: --carousel; 

    &::-webkit-scrollbar {
        display: none;
    }

    &::scroll-button( right ) {
        content: '>';     
        position-area: right center;
        translate: -50%;
    }

    &::scroll-button( left ) {
        content: '<';
        position-area: left center;
        translate: 50%;
    }

    &::scroll-button( right ),
    &::scroll-button( left ) {
        align-items: center; 
        background-color: orange;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        display: inline-flex; 
        font-size: 1.4em;
        height: 2rem;       
        justify-content: center; 
        padding: .8em;     
        position: fixed; 
        position-anchor: --carousel;
        width: 2rem;        
    }

    &::scroll-button( right ):disabled,
    &::scroll-button( left ):disabled {
        opacity: .5;
        cursor: auto;
    }

    /* .carousel .card */
    .card {
        align-content: center;
        background: orange;
        border-radius: .5rem;
        border: 1px dotted blue;
        box-sizing: border-box;
        flex: 0 0 20em;
        height: 12em;
        padding: 1em;
        text-align: center;
    }
}

