.carousel {
    anchor-name: --carousel; 
    /* border: 5px dotted red; */
    box-sizing: border-box;
    display: flex;
    gap: 1em;
    margin: 3em auto;
    overflow-x: scroll;
    position: relative;       /* Para que el scroll sea suave */
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;  /* Implementa snapping */
    scroll-marker-group: after;     /* Esta propiedad permite establecer un grupo de marcadores de acuerdo a la cantidad de elementos del carousel */

    &::scroll-marker-group {
        display: flex;
        justify-content: center;
        gap: .5em;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &::scroll-button( right ) {
        content: '>';     
        position-area: right center;
        translate: -50%;
    }

    &::scroll-button( left ) {
        content: '<';
        position-area: left center;
        translate: 50%;
    }

    &::scroll-button( right ),
    &::scroll-button( left ) {
        align-items: center; 
        background-color: orange;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        display: inline-flex; 
        font-size: 1.4em;
        height: 2rem;       
        justify-content: center; 
        padding: .8em;     
        position: fixed; 
        position-anchor: --carousel;
        width: 2rem;        
    }

    &::scroll-button( right ):disabled,
    &::scroll-button( left ):disabled {
        opacity: .5;
        cursor: auto;
    }

    /* .carousel .card */
    .card {    
        /* border: 1px dotted blue; */
        align-items: center;
        aspect-ratio: 5 / 6;
        background: white;
        border-radius: .5rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex: 0 0 100%;
        justify-content: start;
        scroll-snap-align: start;   /* Asegura que el snapping se aplique al inicio de cada elemento del carousel, es decir: que el borde izquiero de cada elemento se alinie con el lado izquierdo del carousel */
        text-align: center;

        &::scroll-marker {
            content: '';
            width: 1em;
            height: 1em;
            background-color: orange;
            border-radius: 50%;
            cursor: pointer;
        }

        &::scroll-marker:target-current {
            background-color: orangered;
        }

        .card__title {
            font-size: 2.8rem;
        }

        .card__price {
            color: var(--Islamic-Green);
            font-size: 3.2rem;
            font-family: 'Alice', sans-serif;
        }

        .card__info {
            color: var(--Onyx);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;;
            padding: 0 1.2em;

            .card__description {
                text-align: left;
                flex: 1 0 100%;
                font-size: 1.4rem;

                p {
                    color: var(--Onyx);
                }
            }
        }

        .card__info :is( .card__title, .card__tag, .card__stars, .card__reviews, .card__price, .card__order ) {
            align-items: center;
            border: 1px dotted blue;
            box-sizing: border-box;
            display: flex;
            flex: 1 0 35%;
            justify-content: left;
            margin: 0;
            padding: 0;
        }
    }


    @media ( width > 768px ) {
        .card {
            flex: 1 0 50%;

            .card__info {
                .card__description {
                    font-size: 1.6rem;
                }
            }
        }
    }

    @media ( width > 1024px ) {
        .card {
            flex: 1 0 32%;
        }
    }
}

