/* Bloquear scroll global */
body:has(#toggle-menu-main:checked) {
    overflow: hidden;
}

.header {
    background: white;
    left: 0;
    max-width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-menu-main {
    align-items: center;
    display: flex;
    height: var(--nav-height);
    justify-content: space-between;
    position: relative;

    .background {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        display: none;
        font-size: 3rem;
        height: calc(100% - var(--nav-height) );
        justify-content: center;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: var(--nav-height);
        width: 100%;
        z-index: 1;
    }

    .menu-main,
    .menu-main__label-close {
        display: none;
    }

    /* Genera la interaccion con el elemento input cuando este es seleccionado */
    #toggle-menu-main:checked {
        & + .menu-main__label-open {
            display: none;
        }

        & ~ .background,
        & ~ .menu-main,
        & ~ .menu-main__label-close {
            display: flex;
        }
    }
}

.menu-main {
    background-color: white;
    display: block;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: calc(var(--nav-height) - 2rem);
    z-index: 2;

    &:hover {
        background-color: aquamarine;
    }

    @media (width > 768px) {
        align-items: center;
        flex-direction: row;
        gap: .5rem;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
    }

}

