/* 
   Bloquear scroll global SOLO cuando el menú móvil esté abierto.
   Se logra con :has(), que "mira" dentro del body si existe un input #toggle-menu-main marcado.
*/
body:has(#toggle-menu-main:checked) {
    overflow: hidden;
}

.header {
    background: white;
    left: 0;
    max-width: 100%;
    position: fixed;    /* header fijo arriba */
    top: 0;
    width: 100%;
}

.nav-menu-main {
    align-items: center;
    display: flex;
    height: var(--nav-height);          /* usa variable global */
    justify-content: space-between;
    position: relative;

    .background {
        /* Fondo oscuro detrás del menú desplegado */
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        display: none;          /* por defecto oculto */
        font-size: 3rem;
        height: calc(100% - var(--nav-height) );
        justify-content: center;
        left: 0;
        overflow: hidden;
        position: fixed;        /* ocupa toda la ventana */
        top: var(--nav-height);
        width: 100%;
        z-index: 1;             /* queda encima del contenido */
    }

    #toggle-menu-main,
    .menu-main,
    .menu-main__label-close {
        display: none;          /* el menú y el botón cerrar están ocultos por defecto */
    }

    /* 
        Reglas cuando el input #toggle-menu-main está CHECKED (activo).
        El input actúa como interruptor.
    */
    #toggle-menu-main:checked {
        /* Esconde el botón "open" */
        & + .menu-main__label-open {
            display: none;
        }

        /* Muestra el fondo, el menú y el botón "close" */
        & ~ .background,
        & ~ .menu-main,
        & ~ .menu-main__label-close {
            display: flex;
        }
    }
}

.menu-main {
    /* Estilos de menú en MOBILE */
    background-color: white;
    display: block;         /* aunque después lo fuerzas con JS */
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: calc(var(--nav-height) - 2rem);
    z-index: 2;

    &:hover {
        background-color: aquamarine;
    }

}

/* Estilos de menú en DESKTOP */
    @media (width > 768px) {
        body {
            overflow: auto !important; /* asegura que el scroll esté libre */
        }
        .menu-main {
            align-items: center;
            display: flex !important;   /* se muestra siempre */
            flex-direction: row;
            gap: .5rem;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;         /* ya no es flotante */
            top: 0;
        }
        .menu-main__label-open {
            display: none;
        }
    }


